= simple_form_for @shelter do |f|
  .placeholder Name
  = f.input :name, :label => false, :placeholder => "Name of center"
  .placeholder Address
  = f.input :address, :label => false
  .placeholder Capacity
  = f.input :capacity, :label => false, :placeholder => "(e.g. 500000)"
  = f.button :submit, :class => "btn btn-info"
= javascript_include_tag "autocomplete"
