= simple_form_for @victim do |f|
  = f.input :name

  = f.input :age

  = f.input :status, :collection => ["ALIVE", "SICK", "CRITICAL"]

  = f.input :description

  = f.association :shelter, :include_blank => false

  = f.button :submit
