.row-fluid
  .span3
    %h5 Search a name
    %form.simple_form{:method => "post", :action => search_victims_path}
      %input.span12{:type => "text", :name => "name", :size => "50", :placeholder => "Juan Dela Cruz" }
      %input.span12.btn.btn-info{:type => "submit", :value => "Look for this person"}
  .span9
    %h5.red-text Search Results
    - if !@victims.empty?
      %table.table
        %thead
          %th Name
          %th Age
          %th Description
          %th Shelter
          %th Managed By
        %tbody
          - @victims.each do |victim|
            %tr
              %td
                = victim.name
              %td
                = victim.age
              %td
                = victim.description
              %td
                = victim.shelter.name
              %td
                = victim.user.name
    -else
      .placeholder= "Sorry that person cannot be found on our list"


