- if !@victims.empty?
  %table.table
    %thead
      %th Name
      %th Age
      %th Description
      %th Shelter
      %th Status
    %tbody
      - @victims.each do |victim|
        %tr
          %td
            = victim.name
          %td
            = victim.age
          %td
            = victim.description
          %td
            = victim.shelter.name
          %td
            = victim.to_status


